@import-normalize;

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-success {
  background: rgba(161,246,69, .7);
}

.bg-error {
  background: rgba(240, 87, 108, .7);
}

.c-success {
  color: rgba(161,246,69, .7);
}

.c-error {
  color: rgba(240, 87, 108, .7);
}

